* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #181b2a;
  background-color: #f8f0dc;
}

.page-center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #181b2a;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

a:hover {
  color: #181b2a;
}

.header-wrpr {
  background-color: #f8f0dc;
}

.header-wrpr .page-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrpr .logo-wrpr,
.header-wrpr .theme-toggler-wrpr {
  width: 10%;
}

.header-wrpr .menu-wrpr {
  width: 80%;
}

.header-wrpr .menu-wrpr nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.header-wrpr .menu-wrpr nav ul li a {
  font-weight: 500;
}

.header-wrpr .theme-toggler-wrpr .check-box {
  display: flex;
  justify-content: center;
}

.header-wrpr .logo-wrpr .dark-theme-logo {
  display: none;
}

input[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  appearance: none;
  background: #181b2a;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

input[type="checkbox"]::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: #fff;
}

input[type="checkbox"]:checked {
  background: #f8f0dc;
}

section.banner-section {
  background: #181b2a;
  min-height: 75vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

section.banner-section h1 {
  text-align: center;
  color: #f8f0dc;
  font-size: 50px;
}

section.description {
  text-align: center;
}

footer {
  background: #f8f0dc;
  padding: 20px 0;
}

footer p {
  margin: 0;
  text-align: center;
}
